<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar.ejs') %>

<div class="min-h-screen">
  <!-- Hero Section -->
  <%- include('../partials/hero.ejs')  %>

  <!-- Filter & Dog Cards Section -->
  <section class="container mx-auto px-4 py-10">
    <!-- Dog Cards -->
   <%- include('../partials/our-services.ejs') %>
  </section>
</div>

<%- include('../partials/footer.ejs') %>
